/* Estilos do formulário de cadastro */
body {
    font-family: Arial, sans-serif;
    background: url('etante.png') no-repeat center center fixed; /* Adicione a imagem de fundo aqui */
    background-size: cover;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #0033a1; /* Cor do título */
    text-align: center;
    margin-bottom: 20px;
}

form {
    background: rgba(255, 255, 255, 0.8); /* Mudança na transparência para melhor legibilidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    color: #333; /* Cor dos rótulos */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #0033a1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #001f66;
}

#mensagem {
    text-align: center;
    margin-top: 20px;
}
